<section id="portfolio" class="showcase remove">
    <h2>{{portfolio.header}}</h2>
    <div class="responsive container">
        {{#portfolio.cards}}
        <div class="card">
            <div class="cover-picture">
                <img src="{{covers.404}}" alt="{{name}}" title="{{name}}" />
            </div>
            <div class="info">
                <div class="basic">
                    <h3 class="title">
                        <a href="{{url}}" id="project-{{id}}">{{name}}</a>
                    </h3>
                    <div class="stats">
                        <span class="likes">{{stats.appreciations}}</span>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <span class="views">{{stats.views}}</span>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="fields">
                        {{#fields}}
                        <a href="https://www.behance.net/search?field={{encoded}}" title="{{whitespace}}">{{whitespace}}</a>
                        {{/fields}}
                    </div>
                </div>
                <div class="about">
                    <div class="description">
                        <span>Description</span>
                        <p>{{description}}</p>
                    </div>
                    <div class="date">{{published_on}}</div>
                </div>
            </div>
        </div>
        {{/portfolio.cards}}
    </div>
    <div class="link-more">
        <a href="{{portfolio.button.url}}">{{portfolio.button.text}}</a>
    </div>
</section>
