<div id="project-frame" class="remove">
    <div class="inside">
        <aside>
            <h2 class="name">
                <a href="">Gil Nimer</a>
            </h2>
            <div class="profile-picture">
                <img src="images/profile.jpg" alt="Gil Nimer">
            </div>
            <div class="info">
                <div class="title"><a href=""></a></div>
                <span>fields</span>
                <div class="fields"></div>
                <span>description</span>
                <div class="description"></div>
                <div class="stats">
                    <span class="likes"></span>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <span class="views"></span>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
            </div>
        </aside>
        <section class="modules">
            <h2 class="title">Project</h2>
            <div class="inner">
                <div id="project-canvas"></div>
            </div>
        </section>
    </div>
</div>