<div id="resume" class="remove">
    <div class="container">
        <div class=WordSection1>
            <div style='border:none;border-bottom:solid #141414 1.5pt;padding:0in 0in 4.0pt 0in'>

                <p class=MsoTitle>Gil Nimer</p>

            </div>

            <p class=MsoNormal>St. 6039/6, Nazareth, Israel 1601706 |&nbsp;Cell: (+972)
                54-3314364&nbsp;|&nbsp;gilmarianimer@gmail.com</p>

            <h1>Summary</h1>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Web Developer specializing in web applications and
                framework development. Experienced with all stages of the development cycle for
                dynamic web projects. Adequate knowledge of Application Program Interfaces,
                Object Oriented Programming, well known design patterns like MVC, and best
                development practices. Always aiming for standard and modular code that
                produces HTML markup validity, performance and security for web application and
                frameworks.</p>

            <h1>Technical Toolbox</h1>

            <h2>Languages and Experience</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>HTML5, CSS3, SASS, JavaScript, jQuery, Responsive
                Design, PHP, OOP, MVC, RestAPI, NodeJS, Express, Gulp, SocketIO, Mustache, Redis,
                MongoDB, MSSQL, MYSQL</p>

            <h2>Work environment</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>PHPStorm, Adobe Dreamweaver, Photoshop,
                Illustrator, Visual Studio, Github, NPM, Bower, Gulp, SourceTree, Xampp,
                Appserv, Wamp, Apache, NoIP</p>

            <h2>Design</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Logo design and branding, Responsive Design, Web
                application design, User Interface design.</p>

            <h1>Experience</h1>

            <h2>Framework development&nbsp;|&nbsp;RuddyJS&nbsp;|&nbsp;JANUARY 2016 - MARCH
                2017</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>The main purpose was to simplify and unify JavaScript
                in cross platforms.</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Designed the library with an approach called Global
                Wrappers.</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Programmed it to work both in NodeJS and browser
                environments.</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Used tools to test browser compatibility and
                performance.</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Used a modular code approach, to make it extendable
                and easy to modify.</p>

            <h2>Branding and Logo Design&nbsp;|&nbsp;Isecurity&nbsp;|&nbsp;AUGUST 2016</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Researched the field of cyber security.</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Designed from the bottom-up.</p>

            <h2>FRONT-END&nbsp;|&nbsp;FREESCOKETS&nbsp;|&nbsp;MAY 2016</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Logo design</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>UI/UX Design</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>HTML5, CSS3 and JavaScript</p>

            <h1>Education</h1>

            <h2>INTERNET | TEAMMATES&nbsp;|&nbsp;LIFE</h2>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Non-academic degree</p>

            <p class=MsoListBullet>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span dir=LTR></span>Self-taught</p>

        </div>
    </div>
</div>