<div class="main">
    <figure class="profile-picture">
        <img src="{{head.static}}images/profile.jpg" alt="Gil Nimer" />
        <figcaption>
            <p>{{intro.name.0}}<span>{{intro.name.1}}</span>{{intro.name.2}}</p>
            <p>{{intro.profession}}<span>|</span></p>
        </figcaption>
    </figure>
    <div class="text">
        <p>{{intro.saying}}</p>
        <p>{{intro.phrase}}</p>
    </div>
    <a href="/contact" id="contact-button" class="big-button">{{buttons.contact}}</a>
</div>
