<div class="top">
    <a href="/"><img id="logo" src="{{head.static}}images/logo.min.svg" alt="Gil Nimer Logo" /></a>
    <div id="menu" class="remove">
        <nav>
            <a href="/">Home</a>
            <a href="/resume">Resume</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>

        <a href="#" class="button">
            <span>MENU</span>
            <div class="icon">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
        </a>
    </div>
</div>
